@model MyTasks.Models.AllTasksModel

@{
    var taskOption = Model.TaskOption;
    var pageItemShow = Model.PageItemShow;
    var orderOfItemShow = Model.OrderOfItemShow;
    var taskHighPriority = Model.TaskHighPriority;
    var taskMediumPriority = Model.TaskMediumPriority;
    var taskLowPriority = Model.TaskLowPriority;
}
<div class="topBar displayFjcsb">
    <div class="topBarLeft">
        <p class="topBarSubHeading">
            @(
                taskOption == null ? "All" :
                taskOption == 0 ? "Not Started" :
                taskOption == 1 ? "In Progress" :
                taskOption == 2 ? "Completed" : "Overdue"
            )
             Tasks
        </p>
    </div>
    <div class="topBarRIght displayFjcsb">
        <div class="numberOfShowItem">
            <p class="displayInlineBlock optionLable">Show: </p>
            <select class="displayInlineBlock selectOption"
                    onchange="window.location.href=this.value">
                <option selected=@(pageItemShow==2)
                    value="@Url.Action("Index", "Tasks", 
                    new AllTasksModel{ TaskOption = taskOption, CurrentPage = 1, 
                        PageItemShow = 2, OrderOfItemShow = orderOfItemShow,
                    TaskHighPriority = taskHighPriority, TaskMediumPriority = taskMediumPriority, 
                    TaskLowPriority = taskLowPriority})">
                    2
                </option>

                <option selected=@(pageItemShow==3)
                        value="@Url.Action("Index", "Tasks",
                    new AllTasksModel{ TaskOption = taskOption, CurrentPage = 1,
                        PageItemShow = 3, OrderOfItemShow = orderOfItemShow,
                    TaskHighPriority = taskHighPriority, TaskMediumPriority = taskMediumPriority,
                    TaskLowPriority = taskLowPriority})">
                    3
                </option>

                <option selected=@(pageItemShow==4)
                        value="@Url.Action("Index", "Tasks",
                    new AllTasksModel{ TaskOption = taskOption, CurrentPage = 1,
                        PageItemShow = 4, OrderOfItemShow = orderOfItemShow,
                    TaskHighPriority = taskHighPriority, TaskMediumPriority = taskMediumPriority,
                    TaskLowPriority = taskLowPriority})">
                    4
                </option>

                <option selected=@(pageItemShow==5)
                        value="@Url.Action("Index", "Tasks",
                    new AllTasksModel{ TaskOption = taskOption, CurrentPage = 1,
                        PageItemShow = 5, OrderOfItemShow = orderOfItemShow,
                    TaskHighPriority = taskHighPriority, TaskMediumPriority = taskMediumPriority,
                    TaskLowPriority = taskLowPriority})">
                    5
                </option>
            </select>
        </div>
        <div class="sortByShow">
            <p class="displayInlineBlock optionLable">Sort By: </p>
            <select class="displayInlineBlock selectOption" 
                onchange="window.location.href=this.value">
                <option selected=@(orderOfItemShow==0)
                        value="@Url.Action("Index", "Tasks",
                    new AllTasksModel{ TaskOption = taskOption, CurrentPage = 1,
                        PageItemShow = pageItemShow, OrderOfItemShow = 0,
                    TaskHighPriority = taskHighPriority, TaskMediumPriority = taskMediumPriority,
                    TaskLowPriority = taskLowPriority})">
                    Latest
                </option>

                <option selected=@(orderOfItemShow==1)
                        value="@Url.Action("Index", "Tasks",
                    new AllTasksModel{ TaskOption = taskOption, CurrentPage = 1,
                        PageItemShow = pageItemShow, OrderOfItemShow = 1,
                    TaskHighPriority = taskHighPriority, TaskMediumPriority = taskMediumPriority,
                    TaskLowPriority = taskLowPriority})">
                    Oldest
                </option>
            </select>
        </div>
    </div>
</div>