<nav class="options_container marginTopauto">
    <ul>
        <li>
            <a href="@Url.Action("Index", "Tasks", 
                new AllTasksModel{ TaskOption = null, CurrentPage = 1,
                    PageItemShow = 2, OrderOfItemShow = 0, TaskHighPriority = 0, 
                    TaskMediumPriority = 0, TaskLowPriority = 0})">
                    All Tasks
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Tasks",
                new AllTasksModel{ TaskOption = 2, CurrentPage = 1,
                    PageItemShow = 2, OrderOfItemShow = 0, TaskHighPriority = 0,
                    TaskMediumPriority = 0, TaskLowPriority = 0})">
                Completed
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Tasks",
                new AllTasksModel{ TaskOption = 1, CurrentPage = 1,
                    PageItemShow = 2, OrderOfItemShow = 0, TaskHighPriority = 0,
                    TaskMediumPriority = 0, TaskLowPriority = 0})">
                In Progress
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Tasks",
                new AllTasksModel{ TaskOption = 0, CurrentPage = 1,
                    PageItemShow = 2, OrderOfItemShow = 0, TaskHighPriority = 0,
                    TaskMediumPriority = 0, TaskLowPriority = 0})">
                Not Started
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Tasks",
                new AllTasksModel{ TaskOption = 3, CurrentPage = 1,
                    PageItemShow = 2, OrderOfItemShow = 0, TaskHighPriority = 0,
                    TaskMediumPriority = 0, TaskLowPriority = 0})">
                Overdue
            </a>
        </li>
    </ul>
    <div class="navBarButtonContainer">
        <a href="/Search" class="gotoSearchButton">Search</a>
        <a href="/AddNew" class="addNewButton">Add New</a>
    </div>
</nav>