@using MyTasks.Enums
@{
    var SearchText = ViewBag.searchInfo.SearchText;
    var Option = ViewBag.searchInfo.Option;
    var Priority = ViewBag.searchInfo.Priority;
    var Order = ViewBag.searchInfo.Order;
}

<div class="">
    <form asp-controller="Search" asp-action="Index" method="get"
        class="searchBoxContainerForm shadowAndBackground">
        <div class="serchBoxLeftContainer">
            <div class="searchBoxTextInputContainer">
                <input class="textInputStyle inputTypeTextStyle"
                       value="@(SearchText??"")" 
                    name="SearchText" placeholder="Search task" />
            </div>

            <div class="searchBoxTable">
                <table>
                    <tr>
                        <th>Task Status</th>
                        <th>Task Priority</th>
                        <th>Order By</th>
                    </tr>
                    <tr>
                        <td>
                            <select class="selectOption"
                                name="Option">
                                @{
                                    foreach (var optionValue in Enum.GetValues(typeof(TaskOptionEnum)))
                                    {
                                        <option value="@Convert.ToInt32(optionValue)"
                                            selected="@(Convert.ToInt32(optionValue)==(int)Option)">
                                            @optionValue
                                        </option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select class="selectOption"
                                    name="Priority">
                                @{
                                    foreach (var priorityValue in Enum.GetValues(typeof(PriorityEnum)))
                                    {
                                        <option value="@Convert.ToInt32(priorityValue)"
                                        selected="@(Convert.ToInt32(priorityValue)==(int)Priority)">
                                            @priorityValue
                                        </option>
                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select class="selectOption"
                                    name="Order">
                                @{
                                    foreach (var orderValue in Enum.GetValues(typeof(OrderDateEnum)))
                                    {
                                        <option value="@Convert.ToInt32(orderValue)"
                                        selected="@(Convert.ToInt32(orderValue)==(int)Order)">
                                            @orderValue
                                        </option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="searchBoxRightContainer">
            <input class="inputTypeSubmitPrimary" type="submit" value="Search" />
        </div>
        
    </form>
</div>