@model MyTasks.Models.AllTasksModel

@{
    var taskControllerName = Model.ControllerName;
    var taskActionName = Model.ActionName;
    var taskOption = Model.TaskOption;
    var pageItemShow = Model.PageItemShow;
    var orderOfItemShow = Model.OrderOfItemShow;
    var taskHighPriority = Model.TaskHighPriority;
    var taskMediumPriority = Model.TaskMediumPriority;
    var taskLowPriority = Model.TaskLowPriority;
    var currentPageNumber = Model.CurrentPage;
    var totalPages = Model.TotalPages;
}

<partial name="_navBar" />

<div class="allTaksTopBarContainer">
    <partial name="_topBar" />
</div>
<br />

<div class="allTaskShowBody">
    <div class="allTaskShowFilterBody">
        <div class="allTaskFilterItem">
            <p class="filterTitle">Priority</p>
            <div class="filterItems">
                <a href="@Url.Action(taskActionName.ToString(), taskControllerName.ToString(),
                    new AllTasksModel{ TaskOption = taskOption, CurrentPage = 1, 
                        PageItemShow = pageItemShow, OrderOfItemShow = orderOfItemShow,
                    TaskHighPriority = 1 - taskHighPriority, TaskMediumPriority = taskMediumPriority,
                    TaskLowPriority = taskLowPriority})">

                    <input type="checkbox" class="filterCheckbox"
                           checked="@(taskHighPriority == 1)" />
                </a>
                <label>High</label>
            </div>
            <div class="filterItems">
                <a href="@Url.Action(taskActionName.ToString(), taskControllerName.ToString(),
                    new AllTasksModel{ TaskOption = taskOption, CurrentPage = 1,
                        PageItemShow = pageItemShow, OrderOfItemShow = orderOfItemShow,
                    TaskHighPriority = taskHighPriority, TaskMediumPriority = 1 - taskMediumPriority,
                    TaskLowPriority = taskLowPriority})">

                    <input type="checkbox" class="filterCheckbox"
                           checked="@(taskMediumPriority == 1)" />
                </a>
                <label>Medium</label>
            </div>
            <div class="filterItems">
                <a href="@Url.Action(taskActionName.ToString(), taskControllerName.ToString(),
                    new AllTasksModel{ TaskOption = taskOption, CurrentPage = 1,
                        PageItemShow = pageItemShow, OrderOfItemShow = orderOfItemShow,
                    TaskHighPriority = taskHighPriority, TaskMediumPriority = taskMediumPriority,
                    TaskLowPriority = 1 - taskLowPriority})">

                    <input type="checkbox" class="filterCheckbox"
                           checked="@(taskLowPriority == 1)" />
                </a>
                <label>Low</label>
            </div>
        </div>
    </div>

    <div class="allTaskShowRightBody">
        <partial name="_cardHeader" />

        <div class="fullPageTasksShow"> 
            @{
                foreach (var task in Model.Tasks)
                {
                    ViewData["controllerName"] = Model.ControllerName;
                    ViewData["actionName"] = Model.ActionName;
                    <partial name="_taskCard" model="task" />
                }
            }
        </div>
        <div class="pagerContainer">
            @{
                ViewData["currentPageNumber"] = currentPageNumber;
                ViewData["totalPages"] = totalPages;
                ViewData["controllerName"] = Model.ControllerName;
                ViewData["actionName"] = Model.ActionName;
                ViewData["taskOption"] = taskOption;
                ViewData["pageItemShow"] = pageItemShow;
                ViewData["orderOfItemShow"] = orderOfItemShow;
                ViewData["taskHighPriority"] = taskHighPriority;
                ViewData["taskMediumPriority"] = taskMediumPriority;
                ViewData["taskLowPriority"] = taskLowPriority;
            }
            <partial name="_taskPagerLayout" view-data="ViewData"/>
        </div>
    </div>

</div>