@model IEnumerable<MyTasks.Models.TaskModel>
@{
    var PageOption = ViewBag.PageOption;
    var itemShowNumber = ViewBag.pager.PageItemShow;
    var itemShowOrder = ViewBag.pager.OrderOfItemShow;
    var high = ViewBag.pager.HighPriority;
    var low = ViewBag.pager.LowPriority;
    var medium = ViewBag.pager.MediumPriority;
}
<partial name="_navBar" />

<div class="allTaksTopBarContainer">
    <partial name="_topBar" />
</div>
<br />

<div class="allTaskShowBody">
    <div class="allTaskShowFilterBody">
        <div class="allTaskFilterItem">
            <p class="filterTitle">Priority</p>
            <div class="filterItems">
                <a href="@Url.Action("Index", "Tasks",
                    new { option = PageOption, page = 1, show = itemShowNumber, order = itemShowOrder,
                    high = 1-high, medium = medium, low = low})">
                    <input type="checkbox" class="filterCheckbox"
                           checked="@(high == 1)" />
                </a>
                <label>High</label>
            </div>
            <div class="filterItems">
                <a href="@Url.Action("Index", "Tasks",
                    new { option = PageOption, page = 1, show = itemShowNumber, order = itemShowOrder,
                    high = high, medium = 1-medium, low = low})">
                    <input type="checkbox" class="filterCheckbox"
                           checked="@(medium == 1)" />
                </a>
                <label>Medium</label>
            </div>
            <div class="filterItems">
                <a href="@Url.Action("Index", "Tasks",
                    new { option = PageOption, page = 1, show = itemShowNumber, order = itemShowOrder,
                    high = high, medium = medium, low = 1-low})">
                    <input type="checkbox" class="filterCheckbox"
                           checked="@(low == 1)" />
                </a>
                <label>Low</label>
            </div>
        </div>
    </div>

    <div class="allTaskShowRightBody">
        <partial name="_cardHeader" />

        <div class="fullPageTasksShow"> 
            @{
                foreach (var task in Model)
                {
                            @Html.Partial("_taskCard",task)
                }
            }
        </div>
        <div class="pagerContainer">
            <partial name="_taskPagerLayout" />
        </div>
    </div>

</div>